@import url("https://fonts.googleapis.com/css?family=Poppins:wght@100;300;400;500;7008display-swap");
@import "./Variables.scss";
@import "./Portfolio.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

    .App {
        text-align: center;

        button:focus {
            outline: 0rem;
        }
    }
}